{% extends 'headers_nav.html' %}
{% block content %}
<div class="container-fluid mt-3">
  <div class="row">

<div class="col-lg-3">
  {% for i in Category_list %}
  <div class="list-group">
    <a href="/?category={{i.name}}" class="list-group-item list-group-item-action">{{i.name}}</a>
  </div>
  {% endfor %}
</div>

<div id="products" class="col-lg-9 mx-auto">
  <div class="row mx-auto">
    {% for i in Products_list %}
  <div class="card mx-auto mb-3" style="width: 18rem;">
  <img src="{{i.image.url}}" class="img-fluid img-thumbnail" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text"><b>{{i.price}}</b></p>
    <a href="#" class="btn btn-light border btn-sm">Add to Cart</a>
  </div>
</div>
    {% endfor %}

  </div>
</div>
  </div></div>
{% endblock %}